# Editor / IDE
.vscode/
.idea/
*.iml
/.claude

# Clojure tooling / caches
/.shadow-cljs
frontend/.shadow-cljs/
.clj-kondo/
.clj-kondo
.cpcache
.repl-history
/.calva
/.lsp

# Node / npm / yarn
node_modules/
package-lock.json

# Environment files
.env

# Build outputs
/resources
frontend/resources/public/js/
/.cpcache
/output.calva-repl

# AWS and Environment files
.env
*.pem
*.key
