{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/clojurescript {:mvn/version "1.11.132"}
  ring/ring-core {:mvn/version "1.9.5"}
  ring/ring-jetty-adapter {:mvn/version "1.9.5"}  ; Embedded web server
  ring/ring-json {:mvn/version "0.5.1"}           ; JSON middleware
  compojure/compojure {:mvn/version "1.6.2"}                ; Routing
  hiccup/hiccup {:mvn/version "1.0.5"}                   ; HTML generation
  reagent/reagent {:mvn/version "1.2.0"}                 ; React wrapper for ClojureScript
  re-frame/re-frame {:mvn/version "1.3.0"}               ; State management
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}             ; AJAX requests
  }
 
 :aliases
 {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.10"}
                     binaryage/devtools {:mvn/version "1.0.7"}}}}}