{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  ring/ring-core {:mvn/version "1.9.5"}
  ring/ring-jetty-adapter {:mvn/version "1.9.5"}
  ring/ring-json {:mvn/version "0.5.1"}
  compojure/compojure {:mvn/version "1.6.2"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  environ/environ {:mvn/version "1.2.0"}}
 
 :aliases
 {:run {:main-opts ["-m" "app.server"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "target/app.jar"
                        :main-class "app.server"
                        :sync-pom true}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}}}